<!doctype html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='actions.js') }}"></script>
<title>{% block title %}{% endblock %} - Voxie</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Voxie engineering project</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
    <div class="action">
        <div><a href="{{ url_for('search_contacts.search')  }}" class="return">Search contacts by phone</a></div>
        <div><a href="{{ url_for('view.view_teams')  }}" class="return">View teams</a></div>
    </div>
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<hr />
<footer>
<a href="javascript:history.back()" class="return">Back</a>
</footer>
