<!doctype html>
<title>{% block title %}{% endblock %} - Voxie</title>
<!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<nav>
  <h1>Voxie engineering project</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
