{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Contact detail for "{{ contact.name }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <label for="name">Name:</label>
    <input name="name" id="title" value="{{ contact.name }}" required>
    {% if contact.custom_attributes|length > 0 %}
    <form id="frm_cust_attr" method="post" action="{{ url_for('contact_detail.update_custom_attribute') }}">
        <input type="hidden" name="hd_contact_id" value="{{ contact.id }}" />
        <input type="hidden" id="hd_ca_id" name="hd_custom_attribute_id" value="" />
        <table>
            <tr>
                <th>Key</th><th>Value</th>
            </tr>
           {% for ca in contact.custom_attributes %}
               <tr>
                   <td>
                       <span id="lb_key_{{ca.id}}">{{ ca.key }}</span>
                       <input type="text" id="txt_key_{{ca.id}}" name="key_{{ca.id}}" value="{{ ca.key }}" style="display:none"/>
                   </td>
                   <td>
                       <span id="lb_value_{{ca.id}}" >{{ ca.value }}</span>
                       <input type="text" id="txt_value_{{ca.id}}" name="value_{{ca.id}}" value="{{ ca.value}}" style="display:none"/>
                   </td>
                   <td>
                     <a id="edit_{{ca.id}}" class="action" href="#" onclick="switch_to_edit_mode()">Edit</a>
                        <input type="submit" value="Save" id="save_{{ca.id}}"  style="display:none"/>
                   </td>
               </tr>
           {% endfor %}
        </table>
    </form>
    {% else %} 
       <label>Contact has no custom attributes</label> 
    {% endif %}
<script language="JavaScript">

function switch_to_edit_mode() {
   var src_elem = window.event.srcElement.id;
   if (src_elem.substring(0,4) == "edit"){
       var tokens = src_elem.split("_");

       var id = tokens[tokens.length-1];

       let elems = ['lb_key','lb_value','edit'];

       display_elements(false,elems,id);

       elems = ['txt_key','txt_value','save'];
       display_elements(true,elems,id);

       hf = document.getElementById('hd_ca_id');
       hf.value=id;
   }
}

function display_elements(value, elements, id) {
  var display_value = value? 'block' : 'none';
  for (var i=0; i < elements.length; i++){
      var name = elements[i]+'_'+id;
      document.getElementById(name).style.display=display_value;
  }
}

</script>

{% endblock %}

