{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Contact detail for "{{ contact.name }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form id="frm_contact" method="post" action="{{ url_for('contact_detail.update_contact')  }}" >
      <div class="editable_box">
        <input type="hidden" name="contact_id" value="{{ contact.id }}" />
        <input type="hidden" name="team_id" value="{{ contact.team_id }}" />
        <div>
           <label for="name">Name:</label>
           <span class="viewmode" name="name" id="lb_name">{{ contact.name }}</span>
           <input class="editmode" name="name" id="txt_name" value="{{ contact.name }}">
        </div>
        <div>
           <label for="phone">Phone:</label>
           <span class="viewmode" name="phone" id="lb_phone">{{ contact.phone}}</span>
           <input class="editmode" name="phone" id="txt_phone" value="{{ contact.phone }}">
        </div>
        {% if contact.email %}
        <div>
           <label for="email">Email:</label>
           <span class="viewmode" name="email" id="lb_email">{{ contact.email }}</span>
           <input class="editmode" name="email" id="txt_email" value="{{ contact.email }}">
        </div>
        {% endif %}
        <input id="edit" class="viewmode" type="button" value="Edit">
        <input class="editmode" type="submit" value="Save" id="btn_save_contact" />
        <input class="editmode" type="button" value="Cancel">
       </div>
    </form>
    <h3> Custom attributes </h3>
    <hr />
    {% if contact.custom_attributes|length > 0 %}
    <form id="frm_cust_attr" method="post" action="{{ url_for('contact_detail.update_custom_attribute') }}">
        <input type="hidden" id="hf_selected_custom_attribute_id" name="custom_attribute_id" value="" />
        <input type="hidden" id="hf_contact_id" name="contact_id" value="{{ contact.id }}" />

        <div class="table">
            <div class="tr">
               <span class="th">Key</span>
               <span class="th">Value</span>
            </div>

           {% for ca in contact.custom_attributes %}
            <div class="tr" id="tr_{{ca.id}}">
               <span class="td">
                  <span class="viewmode" id="lb_key_{{ca.id}}">{{ ca.key }}</span>
                  <input class="editmode" type="text" id="txt_key_{{ca.id}}" name="key_{{ca.id}}" value="{{ ca.key }}"/>
               </span>
               <span class="td">
                  <span class="viewmode" id="lb_value_{{ca.id}}" >{{ ca.value }}</span>
                  <input class="editmode" type="text" id="txt_value_{{ca.id}}" name="value_{{ca.id}}" value="{{ ca.value}}"/>
               </span>
               <span class="td">
                  <input id="edit_{{ca.id}}" class="viewmode" type="button" value="Edit">
                  <input class="editmode" type="submit" value="Save" id="save_{{ca.id}}" >
                  <input class="editmode" type="button" value="Cancel">
               </span>
            </div>
           {% endfor %}
        </div>
    </form>
    {% else %} 
       <label>Contact has no custom attributes</label> 
    {% endif %}

<script>
$("#frm_cust_attr input[type='submit']").click(function(){
    var tokens = $(this).attr('id').split('_');
    var id = tokens[tokens.length - 1];
    $('#hf_selected_custom_attribute_id').val(id); 
});
</script>

{% endblock %}

